 
<mat-card>
  <h2 class='fontCairo'>Twitter Account</h2>

  <div class="pull-right">
    <button color="primary" mat-fab (click)='openDialog()'>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table *ngIf='dataSource' mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
      
        <!-- text Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> text </th>
          <td mat-cell *matCellDef="let row"> {{row.text}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> created_at </th>
          <td mat-cell *matCellDef="let row"> {{formatTime(row.created_at)}} </td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    
    
  </mat-card-content>
</mat-card>
